<table align=center style="width:800px; position: absolute; top: 0; bottom: 0; left: 0; right: 0;">
    <tr>
        <td align=left style="vertical-align: bottom;">
            <div location="issueFilter">Here is the issue filter</div>
        </td>
        <td align=right style="vertical-align: bottom;">
            <div location="issueButtons">Here is the issue buttons</div>
        </td>
    </tr>
    <!-- Fixed size per page display -->
    <tr><td align=center colspan="2"><div location="issueTickets-1">Here is the issue tickets</div></td></tr>
    <tr><td align=center colspan="2"><div location="issueTickets-2">Here is the issue tickets</div></td></tr>
    <tr><td align=center colspan="2"><div location="issueTickets-3">Here is the issue tickets</div></td></tr>
    <tr><td align=center colspan="2"><div location="issueTickets-4">Here is the issue tickets</div></td></tr>
    <tr><td align=center colspan="2"><div location="issueTickets-5">Here is the issue tickets</div></td></tr>
    <tr><td align=center colspan="2"><div location="issueTickets-6">Here is the issue tickets</div></td></tr>
    <tr><td align=center colspan="2"><div location="issueTickets-7">Here is the issue tickets</div></td></tr>
    <tr><td align=center colspan="2"><div location="issueTickets-8">Here is the issue tickets</div></td></tr>
    <tr><td align=center colspan="2"><div location="issueTickets-9">Here is the issue tickets</div></td></tr>
    <tr><td align=center colspan="2"><div location="issueTickets-10">Here is the issue tickets</div></td></tr>
    <tr><td align=center colspan="2"><div location="issueTickets-11">Here is the issue tickets</div></td></tr>
    <tr><td align=center colspan="2"><div location="issueTickets-12">Here is the issue tickets</div></td></tr>
    <tr><td align=center colspan="2"><div location="issueTickets-13">Here is the issue tickets</div></td></tr>
    <tr><td align=center colspan="2"><div location="issueTickets-14">Here is the issue tickets</div></td></tr>
    <tr><td align=center colspan="2"><div location="issueTickets-15">Here is the issue tickets</div></td></tr>
</table>